<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/addressform}">

    First Name : <input type="text" th:field="*{firstName}" />
    <span th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}"></span><br />

    Last Name : <input type="text" th:field="*{lastName}" />
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"></span><br />
    <input type="submit" value="Submit" />
</form>


    <tr th:each="entry : ${model}">
        <div th:if= "[[${entry.firstName}]] == 'firstName' && [[${entry.lastName}]] == 'lastName'" ></div>

    </tr>


    <input type="submit" value="Submit" />
</form>

</body>
</html>